* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 2vmin;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vmin;
    height: 90vmin;
}

.square {
    background-color: blanchedalmond;
    width: 6vmin;
    height: 6vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
    transition: all 0.1s ease;
}

.square:hover {
    transform: scale(1.2);
}


#newButton {
    width: 15vmin;
    height: 5vmin;
    font-size: 3vmin;
    background-color: rgb(156, 156, 156) ;
    border-style: none;
    border: solid 2px black;
    transition: all 0.1s ease;
}

#newButton:hover {
    background-color: rgb(201, 201, 201);
    transform: scale(1.05);
}