* {
    background-color: burlywood;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 96vmin;
}

.square {
    background-color: blanchedalmond;
    width: 6vmin;
    height: 6vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
}

.hovered{
    background-color: rgb(214, 124, 83);
}